@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
  background-color: #36075D;
  font-family: 'Poppins', sans-serif;
  
}



.App-header {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  font-size: 50px;
  color: #FEFEFE;
}

/* Fruitbowl Image */
.fruitbowl {
  margin-top: 30vh;
  justify-content: center;
  
}

.fruitLinksDiv {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
   justify-content: center;
   align-items: center;
}

.fruitLink {
  grid-row: 1;
}
.fruitImg {
  width: 95%;
  margin-bottom: 20px;
}

.grapesImg {
  grid-column: 3;
}

.bananaImg {
   grid-column: 4;
 }

 .mangoImg {
   grid-column: 5;
 }

 .orangeImg {
   grid-column: 6;
 }

.bowlImg {
  grid-row: 1;
  grid-column: 2/9;
  z-index: 2;
  

}
