@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
  background-color: #36075D;
  font-family: 'Poppins', sans-serif;
  
}



.App-header {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  font-size: 50px;
  color: #FEFEFE;
}

/* Fruitbowl Image */
.fruitbowl {
  margin-top: 30vh;
  
}

.fruitLinks {
  display: flex;
   justify-content: center;
}

.fruitImg {
  width: 80%;
}

.bowlDiv {
  display: flex;
  justify-content: center;
}


